<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title>Customers</title>
<link th:href="@{/styles.css}" rel="stylesheet" />
</head>

<body>
	<h2>Customers</h2>
	<form>
		<table>
			<tr>
				<th class="id">Id</th>
				<th class="name">Customer Name</th>
				<th class="birthdate">Birth Date</th>
				<th class="license">Driver's License</th>
				<th class="insurance">Insurance</th>
				<th class="phone">Phone Number</th>
				<th class="action" th:colspan="2">Action</th>
			</tr>
			<tr th:each="cust:${customers}">
				<td class="id" th:text="${cust.id}"></td>
				<td class="name" th:text="${cust.name}"></td>
				<td class="birthdate" th:text="${cust.birthDate}"></td>
				<td class="license" th:text="${cust.driverLicense}"></td>
				<td class="insurance" th:text="${cust.insurance}"></td>
				<td class="phone" th:text="${cust.phoneNumber}"></td>
				<td class="action"><a th:href="@{/edit/{id}(id=${cust.id})}">Edit</a></td>
				<td class="action"><a th:href="@{/delete/{id}(id=${cust.id})}">Delete</a></td>
			</tr>
		</table>
	</form>


	<br />
	<a href="/inputCustomer">Add a new customer</a>

</body>
</html>